html,
body {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: "Helvetica Neue", helvetica, verdana, sans-serif;
}

.menu-toggle {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0px;
    top: 50%;
    z-index: 1;
    transition-duration: 0.5s;
    background-color: rgb(70,74,77);
    border-radius: 50%;
    background-image: url("../assets/arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 250px;
    left: -250px;
    top: 0;
    z-index: 1;
    transition-duration: 0.5s;
    background-color: rgb(70,74,77);
    overflow: auto;
}

.sidebar ul {
    list-style: none;
    color: white;
    line-height: 40px;
    padding: 0;
}

.open {
    transform: translateX(250px);
}

.menu-toggle.open {
    transform: translateX(250px) rotate(180deg);
}

.searchbar-container {
    background-color:rgb(40,44,47);
    text-align: center;
}

.searchbar {
    margin: 15px 0;
    width: 230px;
    height: 40px;
    padding: 10px;
}

.sidebar li {
    padding: 0 15px;
}

.sidebar li:hover {
    background-color:rgb(40,44,47);
	cursor: pointer;
	font-weight: bold;
}

#map {
    height: 100%;
}

@media screen and (min-width: 650px) {
    .menu-toggle {
        display: none;
    }

    .sidebar {
        position: static;
        float: left;
        left: 0px;
    }

    .open {
        transform: none;
    }
}